body{
  background-image: url(https://images.wolfgangsvault.com/m/large/BOS720718-28-FP/the-rolling-stones-fine-art-print-1972-07-18.webp);
}

.keys {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin: 50vh auto;

}

.key {
  padding: 25px;
  background-color: gray;
  width: 50px;
  color: blue;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
