<<<<<<< HEAD
body{
  background-image: url(https://www.musicca.com/files/scripts/drums/static/media/drum-kit-standard.eb6cdcf0e2d2b6c360fb.png);
}

.keys {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin: 50vh auto;

}

.key {
  padding: 25px;
  background-color: gray;
  width: 50px;
  color: blue;

=======
h1{
  color: red;
>>>>>>> 89be78a3baa383a9717fcaef26539d24613bc5f6
}